<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>otis...he speakz</title>
		<style>
		</style>
	</head>
	<body>
		<h1><%= text %></h1>
		<form method="POST">
			<textarea name="sayit" rows="3" cols="20"></textarea>
			<br>
			<input type="submit" value="Otis, say it!">
		</form>
	</body>
</html>
